body {
    font-family: "Lato", sans-serif;
}

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    padding: 10px 20px;
}

.my-report {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.submit-report {
    width: 100%;
    display: flex;
    justify-content: right;
    margin: -5px;
}

.list-uchastka {
    padding-top: 30px;
}

.my-report h4 {
    width: 100%;
    text-align: center;
}

.login-main-text h3 {
    margin-bottom: 15px;
}

.login-main-text p {
    margin-bottom: 5px;
}

.sidenav-account{
    background-color: #d7d7d7;
    position: inherit;
    height: 100vh;
    overflow-x: inherit;
    overflow-y: scroll;
}

.sidenav1{
    background-color: #d7d7d7;
    height: 100vh;
    overflow-y: scroll;
}

.sidenav1 li{
    background-color: transparent;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }
    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }
    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .sidenav-account{
        position: inherit;
    }
    .login-form {
        margin-top: 80%;
    }
    .register-form {
        margin-top: 20%;
    }
}

.login-main-text {
    padding: 60px;
    color: #fff;
}

.login-main-text h2 {
    font-weight: 300;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.report-page-title {
    margin: 0;
    padding: 0 0 10px 0
}

.sidenav-account
.login-main-text {
    color: #000;
}

.sidenav-account
ul{
    margin-top: 25px;
}

.sidenav-account
li{
    background-color: transparent;
}